GITHUB_KEY=enter github application client id here
GITHUB_SECRET=enter github application client secret here
NGROK_HOST=ngrok host here (just hostname, e.g. 70af17ab.ngrok.com)
DISABLE_BACKFILL_REF_COMMITS=false
BACKFILL_REF_COMMITS_INTERVAL=15
BACKFILL_SLEEP=0.5
DISABLE_PROCESS_COMMITS=false
PROCESS_COMMITS_INTERVAL=7.5
DISABLE_PROCESS_EXTERNAL_LINK_COMMITS=false
PROCESS_EXTERNAL_LINK_COMMITS_INTERVAL=10
