<div>
  <ul>
    <li>
      <%= link_to "Home", root_path, data: {no_turbolink: true} %>
    </li>
    <li>
      Admin
      <ul>
        <li>
          <%= link_to "Authorize App", github_authorize_path, data: {no_turbolink: true} %>
        </li>
      </ul>
    </li>
    <li>
      <%= link_to "Repos", repos_path %>
    </li>
    <li>
      Pushes (go thru Repo)
    </li>
    <li>
      Commits (go thru Repo)
    </li>
    <li>
      Refs (go thru Repo)
    </li>
  </ul>
</div>
