<div>
  <ul>
    <li>
      Admin
      <ul>
        <li>
          <%= link_to "Authorize App", github_authorize_path, data: { no_turbolink: true } %>
        </li>
      </ul>
    </li>
    <li>
      <%= link_to "Repos", repos_path %>
    </li>
    <li>
      <%= link_to "Pushes", pushes_path %>
    </li>
  </ul>
</div>
