<p id="notice"><%= notice %></p>

<p>
  <strong>Commit:</strong>
  <%= @parent_commit.commit_id %>
</p>

<p>
  <strong>Sha:</strong>
  <%= @parent_commit.sha %>
</p>

<%= link_to 'Back', commit_parent_commits_path(@commit) %>
