<div class="row">
  <a href="https://www.pivotaltracker.com/n/projects/1286262">Project Backlog on Pivotal Tracker</a> -
  <a href="https://github.com/pivotaltracker/git-commit-integration">Source Code on Github</a>
</div>

