<h1>Git Commit Integration</h1>


<div>
  <%= link_to "Sign in with Github", user_omniauth_authorize_path(:github) %>
</div>

<hr/>

<div>
  <ul>
    <li>
      <a href="https://www.pivotaltracker.com/n/projects/1286262">Project Backlog on Pivotal Tracker</a>
    </li>
    <li>
      <a href="https://github.com/pivotaltracker/git-commit-integration">Source Code on Github</a>
    </li>
  </ul>
</div>
